* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #111;
    color: white;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.btn {
    background: gold;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

/* HERO */
.hero {
    height: 90vh;
    background: url('https://images.unsplash.com/photo-1599661046827-dacff0b0f5d7') center/cover;
    display: flex;
    align-items: center;
}

.overlay {
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 50px;
    width: 50%;
}

.overlay h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
}

.primary {
    background: gold;
}

.secondary {
    background: transparent;
    color: white;
    border: 1px solid white;
}

/* ABOUT */
.about {
    display: flex;
    padding: 50px;
    gap: 30px;
}

.about img {
    width: 100%;
    border-radius: 10px;
}

/* GALLERY */
.gallery {
    padding: 50px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-top: 20px;
}

.grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}